<center>
  <h1>Aktualizacja zadania</h1>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <%= render 'form', list: @list %>
    </div>
  </div>
  <br/>
  <%= link_to 'Cofnij', lists_path, class: "btn btn-outline-secondary" %>
</center>